html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  box-sizing: border-box;
  line-height: 0px;
  min-height: 100vh;
}

/* Header */
.header {
  width: 100%;
}

img.header {
  width: 100%;
  display: flex;
  top: 0;
}

/* Layout */
.container {
  width: 95%;
  max-width: 960px;
  display: grid;
  grid-template-columns: 430px 80px 400px 80px 400px;
  grid-gap: 15px;
  margin: 80px auto;
  justify-content: center;
  line-height: 18px;
}

/* Typography */
h1 {
  font-size: 3rem;
  font-family: "lora", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #4f4e4d;
  margin-top: 80px;
}

h4 {
  font-size: 2rem;
  margin: 20px 5px;
  /* color: #4F4E4D; */
}

.title {
  text-align: center;
}
.t1 {
  text-align: left;
  padding-left: 5px;
}

.title3 {
  color: #fff;
}

p {
  font-size: 1.125rem;
  padding-bottom: 15px;
  margin: 15px;
  color: #A7A7A7;
}

.text-center {
  text-align: center;
}

.current {
  border-bottom: 2px solid orange;
  padding: 8px 0;

}

/* Images */
img {
  width: 100%;
  margin: 0 auto;

}

.office {
  width: 95%;
  padding: 20px 10px;
}

.forward {
  width: 100%;
  padding-top: 170px;

}

.orange {
  width: 35%;
  margin: 30px auto;
  display: flex;
}

.white {
  width: 35%;
  margin: 30px auto;
  display: flex;
}

/* Box styles */

.box {
  width: 100%;
  background-color: #fff;
  box-shadow: -1px -1px 35px -1px #888888;
  border-radius: 5px;

}

.box3 {
  color: #fff;
  background-image: url(./media/Shakehands.jpg);
  background-size: cover;
  background-clip: padding-box;
}

/* Button */
.button {
  position: relative;
  margin: 60px auto;
  width: 9.375rem;

}

a {
  background-color: #fff;
  border: 1px solid transparent;
  border-image: linear-gradient(120deg, #a554e6, #7033f7);
  border-image-slice: 1;
  border-radius: 5px;
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 1rem;
  color: rgb(111, 50, 248);
}


/* Hovers */

.box1:hover {
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #33cccc, #6633ff, #33cccc);
  border-image-slice: 1;
}

.box2:hover {
  transform: scale(1.1);
  background: linear-gradient(120deg, #a554e6, #7033f7);
  color: #fff;

}

a:hover  {
  border: 1px solid transparent;
  background: linear-gradient(120deg, #a554e6, #7033f7);
  color: #fff;
}

/* Media queries */
@media only screen and (max-width: 1260px){
  .container {
    display: block;
    width: 80%;
  }

  .forward {
    width: 25%;
    display: block;
    transform: rotate(90deg);
    margin: 20px auto;
    padding: inherit;
  }
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
